<h3>StreamUpload</h3>

<div class="flex-column">
    <input type="text" id="demoSource" placeholder="Type some text here" class="form-control form-text p-1 m-1">
    <button type="button" onclick="" class="form-control btn btn-primary p-1 m-1">Send</button>
</div>

@code {

}