# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.BlazorStreamUploadDemo.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\repo\BlazorStreamUploadDemo\.idea\.idea.BlazorStreamUploadDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
